
<form action="/thread/{{thread._id}}?_method=DELETE" method = "post">
<button type = "submit">Delete</button>

<h1> {{thread.title}}</h1>

{{#each thread.posts}}

{{post}}
<a href ="{{../thread._id}}/posts/{{_id}}/edit">edit post</a>
<a href ="{{../thread._id}}/posts/new">new post</a>
<form action="{{../thread._id}}/posts/{{_id}}?_method=DELETE" method = "">
<button type = "submit">Delete</button>

{{/each}}