<h1>Tournaments</h1>  

{{#each tournaments}}


<div class="card border-dark mb-3">
  <img class="card-img-top" id = "tcard" src="images/210.png" alt="Card image cap">
  <div class="card-body ">
    <h5 class="card-title"><a href ="/tournaments/{{_id}}">{{name}}</a></h5>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{games}}</p>
    <p class="card-text">{{location}}</p>
    <p class="card-text">{{date}}</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>

</div>


{{/each}}