<main>

	<h2 class = "info">You are viewing:
		{{tournaments.name}}
	</h2>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{tournaments.name}}</h5>
    <p class="card-text">{{tournaments.description}}</p>
    <p class="card-text">{{tournaments.location}}</p>
    <p class="card-text">{{tournaments.date}}</p>
    <p class="card-text">{{tournaments.games}}</p>
  </div>
  
</div>
	
				
		
					
			
			
